/lib/claves.php
/lib/ftpZeus.php
/lib/ftpOspim.php
/ospim/sessiones
/usimra/sessiones
/.project
/.buildpath
/lib/generaSessionDebug.php
/usimra/banco/ProcesadosBanco
/usimra/fiscalizacion/fiscalizacion/requerimientos/liqui
/ospim/contaduria/estadocontable/archivosHtm
/ospim/sistemas/fiscalizacion/liqui
/ospim/auditoria/tempautorizaciones
/ospim/sistemas/medicamentos/files
