/lib/claves.php
/lib/ftpZeus.php
/lib/ftpOspim.php
/ospim/sessiones
/usimra/sessiones
/.project
/.buildpath
/lib/generaSessionDebug.php
/usimra/banco/ProcesadosBanco
/usimra/fiscalizacion/fiscalizacion/requerimientos/liqui
/ospim/contaduria/estadocontable/archivosHtm
/ospim/sistemas/fiscalizacion/liqui
/ospim/auditoria/tempautorizaciones
/ospim/sistemas/medicamentos/files
/lib/jquery-ui-1.9.2.custom/css/smoothness/images/Thumbs.db
/ospim/afiliados/informes/informes
/ospim/tesoreria/ordenes/ordenpago/OrdenesPagoPDF
/ospim/tesoreria/ordenes/ordenpagonm/OrdenesPagoPDF
/ospim/tesoreria/ordenes/ordenpagonm/migracion/archivos
/ospim/sistemas/padrones/prestadores/archivos
/ospim/auditoria/sur/diabetes/presentacion/archivos
/ospim/auditoria/sur/discapacitados/informes/informes
/ospim/fiscalizacion/fiscalizacion/requerimientos/liqui
/ospim/sistemas/intranets/intrausimra/archivos
/ospim/sistemas/intranets/intrausimra/backupintrausimra
/ospim/sistemas/intranets/intraospim/archivos
/ospim/sistemas/intranets/intraospim/backupintraospim